<div class="container">
    <h1>Registration form</h1>
    <form novalidate ng-submit="register(username,password)">
        <div class="form-group">
            <label>Username</label>
            <input type="text" 
                   name="username" 
                   ng-model="username"
                   required
                   class="form-control"
             />
        </div>
        <div class="form-grup">
            <label>Password</label>
            <input type="password" 
                   name="password"
                   ng-model="password"
                   required
                   class="form-control"
            />
        </div>
        <div class="form-grup">
            <input name="submit" type="submit" value="Register" class="btn btn-promary btn-lg" />
        </div>
    </form>
</div>