<!DOCTYPE html>
<html lang="en">

<head>
    <title>Posts list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
</head>

<body ng-app="app">
    <div class="container" ng-controller="PostsCtrl as $ctrl">
        <h1 class="head">Newest posts</h1>
        <form role="form" name="add_post_form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="post_body" ng-model="post.body" class="form-control" />
                    <span class="input-group-btn">
                        <button ng-click="$ctrl.savePost()" class="btn btn-default">Send post</button>
                        <button ng-click="$ctrl.abort()" class="btn btn-danger">Abort</button>
                    </span>
                </div>
            </div>
            <div ng-show="message.text" class="alert alert-{{message.type}}" ng-click="$ctrl.hideMessage()">
                {{message.text}}
            </div>
        </form>

        <ul class="list-group">
            <li ng-repeat="post in posts" class="list-group-item clearfix">
                <strong>@{{post.username}}</strong>
                <span>{{post.body}}</span>
                <span class="btn-group btn-group-sm pull-right" role="group">
                    <span class="btn btn-danger" ng-click="$ctrl.deletePost($index)">
                        <i class="fa fa-trash"></i>
                    </span>
                    <span class="btn btn-default" ng-click="$ctrl.editPost($index)">
                        <i class="fa fa-pencil"></i>
                    </span>
                </span>
            </li>
        </ul>
    </div>


    <script src="/node_modules/angular/angular.js" type="application/javascript"></script>
    <script>
        (function () {
            angular.module('app', []);
            angular.module('app')
                .controller(
                'PostsCtrl',
                [
                    '$scope', '$http', function ($scope, $http) {
                        const self = this;
                        $scope.posts = [];
                        $scope.post = {};

                        self.loadPosts = function () {
                            $scope.post = {};
                            $http.get("http://localhost:3000/api/posts")
                                .then(function (res) {
                                    $scope.posts = res.data;
                                });
                        }

                        function success(message) {
                            $scope.message = {
                                type: "success",
                                text: message
                            }
                        };

                        function danger(message) {
                            $scope.message = {
                                type: "danger",
                                text: message
                            }
                        };

                        self.newPost = function () {
                            $http.post(
                                "http://localhost:3000/api/posts",
                                {
                                    username: "zbyszek",
                                    body: $scope.post.body
                                },
                                {
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                }
                            ).then(function (res) {
                                self.loadPosts();
                                success("Post added succesfuly!");

                            }, function (res) {
                                danger("Post not added");
                            });
                        }

                        self.updatePost = function () {
                            $http.put(
                                'http://localhost:3000/api/posts',
                                $scope.post,
                                {
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                }
                            ).then(
                                function (res) {
                                    self.loadPosts();
                                    success("Post updated succesfuly");
                                },
                                function () {
                                    danger("Post was not updated");
                                }
                                );
                        }

                        self.savePost = function () {
                            if ($scope.post._id) {
                                self.updatePost();
                            } else {
                                self.newPost();
                            }
                        };

                        self.deletePost = function (index) {
                            $http.delete(
                                "http://localhost:3000/api/posts",
                                {
                                    _id: $scope.posts[index]._id
                                },
                                {
                                    'Content-Type': 'application/json'
                                }
                            ).then(
                                function (res) {
                                    self.loadPosts();
                                    success("Post deleted succesfuly");
                                },
                                function error(res) {
                                    danger("Post wasnt deleted");
                                }
                                );
                        };

                        self.editPost = function (index) {
                            $scope.post = $scope.posts[index];
                        };

                        self.abort = function () {
                            $scope.post = {};
                        };

                        self.hideMessage = function(){
                            $scope.message = {};
                        };

                        self.loadPosts();
                    }
                ]);
        }());            
    </script>
</body>

</html>